/* line 5, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../scss/_base.scss */
h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 50px;
  padding: 20px 0 20px;
}

/* line 6, ../scss/sass-base/core/_clearfix.scss */
.clear {
  clear: both;
}

/* line 10, ../scss/sass-base/core/_clearfix.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* Set up a variable for maths */
/* the font-size mixin */
/* line 6, ../scss/sass-base/core/_unselectable.scss */
.unselectable, .unselectable * {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 4, ../scss/layout/_core.scss */
body {
  line-height: 1.5;
  background: #242E37;
  color: #fff;
  font-weight: 400;
  font-family: 'RobotoDraft', Arial, sans-serif;
}

/* line 13, ../scss/layout/_core.scss */
.page-content {
  position: absolute;
  left: 100px;
  right: 20px;
  top: 0;
  bottom: 0;
}

/* line 21, ../scss/layout/_core.scss */
h2 {
  font-size: 140%;
  font-weight: 700;
}

/* line 26, ../scss/layout/_core.scss */
h3 {
  font-size: 120%;
  font-weight: 500;
}

/* line 31, ../scss/layout/_core.scss */
a {
  color: #FF9667;
}

/* line 2, ../scss/layout/_sidebar.scss */
.page-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80px;
  background: #E0E9F0;
}

/* line 11, ../scss/layout/_sidebar.scss */
.page-logo {
  font-weight: 700;
  color: #000;
  line-height: 1;
  padding: 5px;
  background: #fff;
}

/* line 20, ../scss/layout/_sidebar.scss */
.page-sidebar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 2, ../scss/layout/_nav.scss */
.page-nav {
  margin-top: 50px;
}

/* line 6, ../scss/layout/_nav.scss */
.page-nav-item {
  display: block;
  padding: 4px;
}
/* line 10, ../scss/layout/_nav.scss */
.page-nav-item img {
  height: 20px;
  display: block;
  margin: auto;
  padding: 10px 4px;
}
/* line 17, ../scss/layout/_nav.scss */
.page-nav-item:hover, .page-nav-item.active-nav-link {
  border-left: 4px solid #FF9667;
  background: #FFF;
  padding-left: 0;
}

/* line 2, ../scss/ui/_spinner.scss */
.spinner {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 80px;
  right: 100px;
  display: none;
}
/* line 11, ../scss/ui/_spinner.scss */
.spinner.visible {
  display: block;
}

/* line 16, ../scss/ui/_spinner.scss */
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

/* line 30, ../scss/ui/_spinner.scss */
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* line 3, ../scss/ui/_button.scss */
.button {
  display: inline-block;
  cursor: pointer;
  margin: 20px;
  padding: 5px 10px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  border: 2px solid;
  border-radius: 2px;
}
/* line 18, ../scss/ui/_button.scss */
.button.centered {
  display: block;
  margin: 20px auto;
}

/* line 3, ../scss/ui/_filters.scss */
.filters {
  position: absolute;
  right: 0px;
  top: 20px;
  background: #FFF;
  padding: 10px;
  color: #6C6C6C;
}
/* line 12, ../scss/ui/_filters.scss */
.filters.hide {
  display: none;
}

/* line 3, ../scss/ui/_layer.scss */
.layer {
  position: fixed;
  display: none;
  width: 600px;
  max-width: 100%;
  height: 400px;
  left: 50%;
  top: 0;
  -moz-transform: translate3d(-50%, 100px, 0);
  -webkit-transform: translate3d(-50%, 100px, 0);
  transform: translate3d(-50%, 100px, 0);
  background: #E0E9F0;
  padding: 20px;
  -moz-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.2);
}
/* line 16, ../scss/ui/_layer.scss */
.layer.visible {
  display: block;
}

/* line 21, ../scss/ui/_layer.scss */
.layer-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
/* line 27, ../scss/ui/_layer.scss */
.layer-close img {
  width: 20px;
}
/* line 31, ../scss/ui/_layer.scss */
.layer-close:hover {
  opacity: .7;
}

/**
 * vertical mouse helper
 */
/* line 5, ../scss/ui/_mouse-helper.scss */
.mouse-helper {
  position: absolute;
  z-index: 19;
  width: 1px;
  height: 100%;
  top: 10px;
  bottom: 30px;
  left: 937px;
  background: #FFF;
}

/* line 2, ../scss/views/_about.scss */
#about-layer {
  color: #242E37;
}

/* line 6, ../scss/views/_about.scss */
.github-link {
  margin: 10px 0;
  display: block;
}
/* line 10, ../scss/views/_about.scss */
.github-link img {
  vertical-align: middle;
  margin-right: 10px;
}

/* line 4, ../scss/views/_articles.scss */
.article-view svg {
  width: 100%;
  height: auto;
}

/* line 12, ../scss/views/_articles.scss */
.article-list .article {
  padding: 10px;
  margin: 10px;
  background: #fff;
  color: #191919;
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  width: 30%;
  display: inline-block;
  overflow: hidden;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  text-decoration: none;
  vertical-align: top;
}
/* line 26, ../scss/views/_articles.scss */
.article-list .article:hover {
  opacity: .8;
}
/* line 31, ../scss/views/_articles.scss */
.article-list .article-img {
  float: left;
  max-width: 80px;
  max-height: 80px;
  margin: 7px;
}
/* line 42, ../scss/views/_articles.scss */
.article-list .article-info {
  font-size: 60%;
}
/* line 46, ../scss/views/_articles.scss */
.article-list .article-text {
  font-size: 80%;
}

/* line 51, ../scss/views/_articles.scss */
.article-header {
  background-color: #FFF;
  padding: 10px;
  color: #000;
  font-size: 110%;
}
/* line 57, ../scss/views/_articles.scss */
.article-header .article-img {
  float: left;
  max-width: 120px;
  max-height: 120px;
  margin: 7px;
}

/* line 69, ../scss/views/_articles.scss */
.article-discussion {
  padding: 10px;
  padding-right: 25px;
  margin: 10px 0;
  background: #68727F;
  position: relative;
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* line 78, ../scss/views/_articles.scss */
.article-discussion .senti-score {
  position: absolute;
  right: 3px;
  top: 3px;
  color: #000;
  padding: 5px;
}

/* line 4, ../scss/views/_comments.scss */
.comments-view svg {
  width: 100%;
  height: auto;
}

/* line 10, ../scss/views/_comments.scss */
.comment-graph {
  position: relative;
}
/* line 13, ../scss/views/_comments.scss */
.comment-graph text {
  fill: #fff;
}

/* line 3, ../scss/views/_users.scss */
.user-info li {
  list-style-type: circle;
  list-style-position: inside;
}
