

<div class="layer visible" id="about-layer">
    <h1>About</h1>

    <div class="layer-close" role="button">
        <img src="/asset/img/icons/close.svg" alt="close" />
    </div>

    <div class="project-info-text">
        This project visualizes some analysis of comments on articles of the austrian newspaper <a href="http://DerStandard.at">DerStandard</a>.

        <br />
        <a href="https://github.com/c-esswein/standard-comment-client" class="github-link">
            <img src="/asset/img/github.svg" width="40px" />
            Client Sources
        </a>
        <a href="https://github.com/c-esswein/standard-comment-server" class="github-link">
            <img src="/asset/img/github.svg" width="40px" />
            Server Sources
        </a>
        <br />
        <br />
        Project by Thilo Gorfer, Philipp Kratzer, Christian Lechner, Christian Esswein

    </div>
</div>