<div class="user-view">
  <h1>User</h1>
  <h2><%= user_name %></h2>

  <ul class="user-info">
    <li>Total comments: <%= num_comments %></li>
    <li>Total number of replies: <%= num_replies %></li>
  </ul>
  Average on all comments:
  <ul class="user-info">
    <li>Quality score: <span class="color-val" data-value="<%= avg_quality_score/100 %>"><%= avg_quality_score %>%</span></li>
    <li>Rating: <span class="color-val-rate" data-value="<%= avg_rating %>"><%= avg_rating %></span></li>
    <li>Sentiment score: <span class="color-val" data-value="<%= (avg_sentiment_score+1)/2 %>"><%= avg_sentiment_score %></span></li>
  </ul>
<br />
  <h3>Comment-Activity</h3>
  <div class="comment-graph"></div>
</div>