<div class="user-view">
  <h1>Users</h1>

  <div class="user-filter">
    Top Users by:
    <span class="selected" data-key="num_comments">comments</span> // <span data-key="num_replies">replies</span> // <span data-key="avg_rating">rating</span> // <span data-key="avg_sentiment_score">sentiment</span> // <span data-key="avg_quality_score">quality</span>
  </div>
  <div class="user-sort">
    Sort <span>asc</span> || <span class="selected">desc</span>
  </div>

  <ul class="user-list"></ul>
</div>