


body {
    line-height: 1.5;
    background: $color-dark-bg;
    color: #fff;

    font-weight: 400;
    font-family: 'RobotoDraft', Arial, sans-serif;
}

.page-content {
    position: absolute;
    left: 100px;
    right: 20px;
    top: 0;
    bottom: 0;
}

h2 {
    font-size: 140%;
    font-weight: 700;
}

h3 {
    font-size: 120%;
    font-weight: 500;
}

a {
    color: $color-orange;
}

b {
    font-weight: 500;
}