
.user-info {
  li {
    list-style-type: circle;
    list-style-position: inside;
  }
}

.user-filter, .user-sort {

  span {
    cursor: pointer;
    &:hover {
      color: $color-orange;
    }
  }

  .selected {
    font-weight: 500;
    text-decoration: underline;
  }
}

.user-list {

}

